/************   OS/2 Application Primer Sample   **********************/
/*                                                                    */
/* Module Name : RSRCENG.RC                                           */
/* Version : 1.0                                                      */
/*                                                                    */
/* A sample program for "OS/2 DBCS Application Primer".               */
/* Resources for English title, menu, dialog boxes, accelerator keys  */
/* and texts.                                                         */
/*                                                                    */
/**********************************************************************/
#define  INCL_NOCOMMON
#define  INCL_WIN
#define  INCL_NLS
#define  INCL_MAIN_WND
#define  INCL_LGON_DLG
#define  INCL_TEST_DLG
#define  INCL_ORDR_DLG
#define  INCL_CUSTQRY_DLG
#define  INCL_CUSTLIST_DLG
#define  INCL_CUSTINFO_DLG
#define  INCL_CUSTREG_DLG
#define  INCL_PRTR_DLG

#include <os2.h>
#include "ordent.h"

ICON ID_MAIN ordent.ico

BITMAP  ID_MAIN_BMP bmape.bmp

MENU ID_MAIN PRELOAD
BEGIN
    SUBMENU "~File", ID_FILE
    BEGIN
        MENUITEM "~New Order...\tCtrl+N", ID_FILE_NEW, MIS_TEXT
    END
    SUBMENU "~Master", ID_CUST
    BEGIN
        MENUITEM "in~Quire a customer...\tCtrl+Q", ID_CUST_QRY, MIS_TEXT
        MENUITEM "~Register a customer...\tCtrl+R", ID_CUST_REG, MIS_TEXT
    END
    SUBMENU "~Report", ID_RPRT
    BEGIN
        MENUITEM "~Print a report...\tCtrl+P", ID_RPRT_PRT, MIS_TEXT
    END
    SUBMENU "~Help", ID_HELP
    BEGIN
        MENUITEM "~Help for help...", ID_HELP_HLP, MIS_TEXT
        MENUITEM "~Extended help...", SC_HELPEXTENDED, MIS_SYSCOMMAND
        MENUITEM "Help ~index...", SC_HELPINDEX, MIS_SYSCOMMAND
        MENUITEM "~Keys help...", SC_HELPKEYS, MIS_SYSCOMMAND
        MENUITEM SEPARATOR
        MENUITEM "~About...", ID_HELP_ABT, MIS_TEXT
    END
END

HELPTABLE     IDH_MAIN
BEGIN
    HELPITEM   ID_MAIN,          IDH_MAIN_SUBTABLE,         ID_EXTENDED_HELP
    HELPITEM   IDD_ORDR_DLG,     IDH_ORDR_DLG_SUBTABLE,     ID_EXTENDED_HELP
    HELPITEM   IDD_LGON_DLG,     IDH_LGON_DLG_SUBTABLE,     ID_EXTENDED_HELP
    HELPITEM   IDD_CUSTREG_DLG,  IDH_CUSTREG_DLG_SUBTABLE,  ID_EXTENDED_HELP
    HELPITEM   IDD_CUSTQRY_DLG,  IDH_CUSTQRY_DLG_SUBTABLE,  ID_EXTENDED_HELP
    HELPITEM   IDD_CUSTLIST_DLG, IDH_CUSTLIST_DLG_SUBTABLE, ID_EXTENDED_HELP
    HELPITEM   IDD_CUSTINFO_DLG, IDH_CUSTINFO_DLG_SUBTABLE, ID_EXTENDED_HELP
    HELPITEM   IDD_PRNT_DLG,     IDH_PRNT_DLG_SUBTABLE,     ID_EXTENDED_HELP
END

HELPSUBTABLE  IDH_MAIN_SUBTABLE
BEGIN
    HELPSUBITEM  ID_FILE,           ID_FILE
    HELPSUBITEM  ID_FILE_NEW,       ID_FILE_NEW
    HELPSUBITEM  ID_CUST,           ID_CUST
    HELPSUBITEM  ID_CUST_REG,       ID_CUST_REG
    HELPSUBITEM  ID_CUST_QRY,       ID_CUST_QRY
    HELPSUBITEM  ID_RPRT,           ID_RPRT
    HELPSUBITEM  ID_RPRT_PRT,       ID_RPRT_PRT
    HELPSUBITEM  ID_HELP,           ID_HELP
    HELPSUBITEM  ID_HELP_HLP,       ID_HELP_HLP
    HELPSUBITEM  SC_HELPEXTENDED,   ID_HELP_EXT
    HELPSUBITEM  SC_HELPINDEX,      SC_HELPINDEX
    HELPSUBITEM  SC_HELPKEYS,       ID_HELP_KEY
    HELPSUBITEM  ID_HELP_ABT,       ID_HELP_ABT
END

HELPSUBTABLE  IDH_LGON_DLG_SUBTABLE
BEGIN
    HELPSUBITEM  IDD_LGON_BTN_OK,   IDD_LGON_BTN_OK
    HELPSUBITEM  IDD_LGON_BTN_CN,   IDD_LGON_BTN_CN
    HELPSUBITEM  IDD_LGON_SLE,      IDD_LGON_SLE
END

HELPSUBTABLE  IDH_ORDR_DLG_SUBTABLE
BEGIN
    HELPSUBITEM  IDD_ORDR_DLG,      IDD_ORDR_DLG
    HELPSUBITEM  IDD_ORDR_LBX_CN,   IDD_ORDR_LBX_CN
    HELPSUBITEM  IDD_ORDR_ITX_CM,   IDD_ORDR_ITX_CM
    HELPSUBITEM  IDD_ORDR_ITX_PR1,  IDD_ORDR_ITX_PR1
    HELPSUBITEM  IDD_ORDR_ITX_PR2,  IDD_ORDR_ITX_PR2
    HELPSUBITEM  IDD_ORDR_ITX_PR3,  IDD_ORDR_ITX_PR3
    HELPSUBITEM  IDD_ORDR_SLE_QT1,  IDD_ORDR_SLE_QT1
    HELPSUBITEM  IDD_ORDR_SLE_QT2,  IDD_ORDR_SLE_QT2
    HELPSUBITEM  IDD_ORDR_SLE_QT3,  IDD_ORDR_SLE_QT3
    HELPSUBITEM  IDD_ORDR_LBX_PM,   IDD_ORDR_LBX_PM
    HELPSUBITEM  IDD_ORDR_BTN_CAN,  IDD_ORDR_BTN_CAN
    HELPSUBITEM  IDD_ORDR_BTN_CNF,  IDD_ORDR_BTN_CNF
    HELPSUBITEM  IDD_ORDR_BTN_ENT,  IDD_ORDR_BTN_ENT
    HELPSUBITEM  IDD_ORDR_BTN_HLP,  IDD_ORDR_BTN_HLP
END

HELPSUBTABLE  IDH_CUSTQRY_DLG_SUBTABLE
BEGIN
    HELPSUBITEM IDD_CUSTQRY_SLE_KEY,     IDD_CUSTQRY_SLE_KEY
    HELPSUBITEM IDD_CUSTQRY_BTN_QUERY,   IDD_CUSTQRY_BTN_QUERY
    HELPSUBITEM IDD_CUSTQRY_BTN_CANCEL,  IDD_CUSTQRY_BTN_CANCEL
    HELPSUBITEM IDD_CUSTQRY_BTN_HELP,    IDD_CUSTQRY_BTN_HELP
END

HELPSUBTABLE  IDH_CUSTLIST_DLG_SUBTABLE
BEGIN
    HELPSUBITEM IDD_CUSTLIST_LST_LISTBOX, IDD_CUSTLIST_LST_LISTBOX
    HELPSUBITEM IDD_CUSTLIST_BTN_DESC,    IDD_CUSTLIST_BTN_DESC
    HELPSUBITEM IDD_CUSTLIST_BTN_CANCEL,  IDD_CUSTLIST_BTN_CANCEL
    HELPSUBITEM IDD_CUSTLIST_BTN_HELP,    IDD_CUSTLIST_BTN_HELP
END

HELPSUBTABLE  IDH_CUSTREG_DLG_SUBTABLE
BEGIN
    HELPSUBITEM IDD_CUSTREG_SLE_CUSTNAME,IDD_CUSTREG_SLE_CUSTNAME
    HELPSUBITEM IDD_CUSTREG_MLE_CUSTADDR,IDD_CUSTREG_MLE_CUSTADDR
    HELPSUBITEM IDD_CUSTREG_SLE_CUSTPHON,IDD_CUSTREG_SLE_CUSTPHON
    HELPSUBITEM IDD_CUSTREG_BTN_REG,     IDD_CUSTREG_BTN_REG
    HELPSUBITEM IDD_CUSTREG_BTN_CANCEL,  IDD_CUSTREG_BTN_CANCEL
    HELPSUBITEM IDD_CUSTREG_BTN_HELP,    IDD_CUSTREG_BTN_HELP
END

HELPSUBTABLE  IDH_CUSTINFO_DLG_SUBTABLE
BEGIN
    HELPSUBITEM IDD_CUSTINFO_SLE_CUSTNAME,IDD_CUSTINFO_SLE_CUSTNAME
    HELPSUBITEM IDD_CUSTINFO_MLE_CUSTADDR,IDD_CUSTINFO_MLE_CUSTADDR
    HELPSUBITEM IDD_CUSTINFO_SLE_CUSTPHON,IDD_CUSTINFO_SLE_CUSTPHON
    HELPSUBITEM IDD_CUSTINFO_BTN_CHANGE,  IDD_CUSTINFO_BTN_CHANGE
    HELPSUBITEM IDD_CUSTINFO_BTN_CANCEL,  IDD_CUSTINFO_BTN_CANCEL
    HELPSUBITEM IDD_CUSTINFO_BTN_HELP,    IDD_CUSTINFO_BTN_HELP
END

HELPSUBTABLE  IDH_PRNT_DLG_SUBTABLE
BEGIN

    HELPSUBITEM  IDD_PRNT_BTN_ENT,  IDD_PRNT_BTN_ENT
    HELPSUBITEM  IDD_PRNT_BTN_CAN,  IDD_PRNT_BTN_CAN
    HELPSUBITEM  IDD_PRNT_BTN_HELP, IDD_PRNT_BTN_HELP
    HELPSUBITEM  IDD_PRNT_SLE_TO,   IDD_PRNT_SLE_TO
    HELPSUBITEM  IDD_PRNT_SLE_FRM,  IDD_PRNT_SLE_FRM
END

ACCELTABLE ID_MAIN
BEGIN
    "^N",  ID_FILE_NEW
    "^Q",  ID_CUST_QRY
    "^R",  ID_CUST_REG
    "^P",  ID_RPRT_PRT
END

DLGTEMPLATE IDD_LGON_DLG LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG "Log on", IDD_LGON_DLG, 0, 0, 200, 80,
           FS_NOBYTEALIGN | FS_DLGBORDER | WS_CLIPSIBLINGS | WS_SAVEBITS,
           FCF_TITLEBAR | FCF_DBE_APPSTAT
    BEGIN
        CONTROL "Enter your Employee Number:", IDD_LGON_TXT_MSG,
                10, 65, 130, 10,
                WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | WS_GROUP | WS_VISIBLE
        CONTROL "Employee No.:", IDD_LGON_TXT_ENO, 15, 45, 70, 10, WC_STATIC,
                SS_TEXT | DT_LEFT | DT_TOP | WS_GROUP | WS_VISIBLE
        CONTROL "", IDD_LGON_SLE, 90, 45, 50, 10, WC_ENTRYFIELD,
                ES_SBCS | ES_LEFT | ES_MARGIN | WS_TABSTOP | WS_VISIBLE
        CONTROL "Start", IDD_LGON_BTN_OK, 40, 10, 50, 15, WC_BUTTON,
                BS_PUSHBUTTON | WS_TABSTOP | WS_VISIBLE | BS_DEFAULT
        CONTROL "Cancel", IDD_LGON_BTN_CN, 110, 10, 50, 15, WC_BUTTON,
                BS_PUSHBUTTON | WS_TABSTOP | WS_VISIBLE
    END
END

DLGTEMPLATE IDD_ORDR_DLG LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG "Order entry", IDD_ORDR_DLG, 20, 20, 350, 200, FS_NOBYTEALIGN |
                FS_DLGBORDER | WS_VISIBLE | WS_CLIPSIBLINGS | WS_SAVEBITS,
                FCF_TITLEBAR | FCF_SCREENALIGN | FCF_SYSMENU | FCF_DBE_APPSTAT
    BEGIN
        CONTROL "Employee No.:", IDD_ORDR_TXT_EN, 10, 185, 68, 8,
                WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | WS_GROUP | WS_VISIBLE
        CONTROL "", IDD_ORDR_ITX_EN, 80, 185, 40, 8,
                WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | WS_GROUP | WS_VISIBLE
        CONTROL "Input date:", IDD_ORDR_TXT_CR, 170, 185, 50, 8,
                WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | WS_GROUP | WS_VISIBLE
        CONTROL "", IDD_ORDR_ITX_CR, 230, 185, 60, 8,
                WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | WS_GROUP | WS_VISIBLE
        CONTROL "Customer No.:", IDD_ORDR_TXT_CN, 10, 170, 68, 8,
                WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | WS_GROUP | WS_VISIBLE
        CONTROL "", IDD_ORDR_LBX_CN, 80, 138, 40, 40, WC_COMBOBOX,
                CBS_DROPDOWNLIST | WS_TABSTOP | WS_VISIBLE
        CONTROL "Name:", IDD_ORDR_TXT_CM, 170, 170, 40, 8,
                WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | WS_GROUP | WS_VISIBLE
        CONTROL "", IDD_ORDR_ITX_CM, 230, 170, 100, 8, WC_ENTRYFIELD,
                ES_LEFT | ES_READONLY | ES_AUTOSCROLL | WS_GROUP | WS_VISIBLE
        CONTROL "Order No.:", IDD_ORDR_TXT_ON, 10, 155, 60, 8,
                WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | WS_GROUP | WS_VISIBLE
        CONTROL "", IDD_ORDR_ITX_ON, 80, 155, 40, 8,
                WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | WS_GROUP | WS_VISIBLE
        CONTROL "Gross sales:", IDD_ORDR_TXT_AM, 170, 155, 55, 8,
                WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | WS_GROUP | WS_VISIBLE
        CONTROL "", IDD_ORDR_ITX_VL, 230, 155, 100, 8,
                WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | WS_GROUP | WS_VISIBLE
        CONTROL "Items:", IDD_ORDR_TXT_PN, 10, 140, 50, 8,
                WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | WS_GROUP | WS_VISIBLE
        CONTROL "", IDD_ORDR_ITX_PR1, 80, 140, 145, 8, WC_ENTRYFIELD,
                ES_LEFT | ES_READONLY | ES_AUTOSCROLL | WS_GROUP | WS_VISIBLE
        CONTROL "", IDD_ORDR_ITX_PR2, 80, 125, 145, 8, WC_ENTRYFIELD,
                ES_LEFT | ES_READONLY | ES_AUTOSCROLL | WS_GROUP | WS_VISIBLE
        CONTROL "", IDD_ORDR_ITX_PR3, 80, 110, 145, 8, WC_ENTRYFIELD,
                ES_LEFT | ES_READONLY | ES_AUTOSCROLL | WS_GROUP | WS_VISIBLE
        CONTROL "Quantity:", IDD_ORDR_TXT_VL, 230, 140, 50, 8,
                WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | WS_GROUP | WS_VISIBLE
        CONTROL "", IDD_ORDR_SLE_QT1, 290, 140, 40, 8, WC_ENTRYFIELD,
                ES_SBCS | ES_LEFT | ES_MARGIN | WS_TABSTOP | WS_VISIBLE
        CONTROL "", IDD_ORDR_SLE_QT2, 290, 125, 40, 8, WC_ENTRYFIELD,
                ES_SBCS | ES_LEFT | ES_MARGIN | WS_TABSTOP | WS_VISIBLE
        CONTROL "", IDD_ORDR_SLE_QT3, 290, 110, 40, 8, WC_ENTRYFIELD,
                ES_SBCS | ES_LEFT | ES_MARGIN | WS_TABSTOP | WS_VISIBLE
        CONTROL "Product list:", IDD_ORDR_TXT_LB, 10, 90, 60, 8,
                WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | WS_GROUP | WS_VISIBLE
        CONTROL "", IDD_ORDR_LBX_PM, 80, 30, 240, 78, WC_LISTBOX,
                LS_HORZSCROLL | LS_MULTIPLESEL | WS_TABSTOP | WS_VISIBLE
        CONTROL "Enter", IDD_ORDR_BTN_ENT, 25, 8, 60, 13, WC_BUTTON,
                BS_PUSHBUTTON | WS_TABSTOP | WS_VISIBLE
        CONTROL "Confirm", IDD_ORDR_BTN_CNF, 105, 8, 60, 13, WC_BUTTON,
                BS_PUSHBUTTON | WS_TABSTOP | WS_VISIBLE
        CONTROL "Cancel", IDD_ORDR_BTN_CAN, 185, 8, 60, 13, WC_BUTTON,
                BS_PUSHBUTTON | WS_TABSTOP | WS_VISIBLE
        CONTROL "Help", IDD_ORDR_BTN_HLP, 265, 8, 60, 13, WC_BUTTON,
                BS_PUSHBUTTON | BS_HELP | WS_TABSTOP | WS_VISIBLE |
                BS_NOPOINTERFOCUS
    END
END

DLGTEMPLATE IDD_CUSTQRY_DLG LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG "Customer inquiry", IDD_CUSTQRY_DLG, 40, 80, 200, 64,
           FS_NOBYTEALIGN | FS_DLGBORDER | FS_BORDER | WS_VISIBLE |
           WS_CLIPSIBLINGS | WS_SAVEBITS | WS_SYNCPAINT,
           FCF_SYSMENU | FCF_TITLEBAR | FCF_DBE_APPSTAT
    BEGIN
        CONTROL "", IDD_CUSTQRY_SLE_KEY, 30, 28, 140, 8, WC_ENTRYFIELD,
                ES_ANY | ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | WS_TABSTOP |
                WS_VISIBLE
        CONTROL "Enter a keyword for search:", IDD_CUSTQRY_TXT_KEY,
                30, 45, 120, 8, WC_STATIC,
                SS_TEXT | DT_LEFT | DT_TOP | WS_GROUP | WS_VISIBLE
        CONTROL "Search", IDD_CUSTQRY_BTN_QUERY,  15, 5, 50, 13, WC_BUTTON,
                BS_PUSHBUTTON | BS_DEFAULT | WS_TABSTOP | WS_VISIBLE
        CONTROL "Cancel", IDD_CUSTQRY_BTN_CANCEL, 75, 5, 50, 13, WC_BUTTON,
                BS_PUSHBUTTON | WS_TABSTOP | WS_VISIBLE
        CONTROL "Help", IDD_CUSTQRY_BTN_HELP, 135, 5, 50, 13, WC_BUTTON,
                BS_PUSHBUTTON | BS_HELP | WS_TABSTOP | WS_VISIBLE |
                BS_NOPOINTERFOCUS
    END
END

DLGTEMPLATE IDD_CUSTINFO_DLG LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG "Customer information", IDD_CUSTINFO_DLG, 10, 10, 200, 180,
           FS_NOBYTEALIGN | FS_DLGBORDER | FS_BORDER | WS_VISIBLE |
           WS_CLIPSIBLINGS | WS_SAVEBITS, FCF_SYSMENU | FCF_TITLEBAR |
           FCF_MINBUTTON | FCF_MAXBUTTON | FCF_DBE_APPSTAT
    BEGIN
        CONTROL "Number:", IDD_CUSTINFO_TXT_CUSTNUM, 10, 165, 45, 8,
                WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | WS_GROUP | WS_VISIBLE
        CONTROL "Name:", IDD_CUSTINFO_TXT_CUSTNAME, 10, 145, 45, 8,
                WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE
        CONTROL "Address:", IDD_CUSTINFO_TXT_CUSTADDR, 10, 125, 45, 8,
                WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE
        CONTROL "TEL:", IDD_CUSTINFO_TXT_CUSTPHON, 10, 50, 40, 8,
                WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE
        CONTROL "", IDD_CUSTINFO_ITX_CUSTNUM, 60, 165, 40, 8, WC_STATIC,
                SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE
        CONTROL "", IDD_CUSTINFO_SLE_CUSTNAME, 60, 145, 120, 8, WC_ENTRYFIELD,
                ES_MIXED | ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | WS_TABSTOP |
                WS_VISIBLE
        CONTROL "", IDD_CUSTINFO_MLE_CUSTADDR, 60, 73, 135, 60, WC_MLE,
                MLS_BORDER | MLS_WORDWRAP | MLS_VSCROLL | WS_GROUP |
                WS_TABSTOP | WS_VISIBLE
        CONTROL "", IDD_CUSTINFO_SLE_CUSTPHON, 60, 50, 120, 8, WC_ENTRYFIELD,
                ES_SBCS | ES_LEFT | ES_MARGIN | WS_TABSTOP | WS_VISIBLE
        CONTROL "Update", IDD_CUSTINFO_BTN_CHANGE, 15, 8, 50, 13, WC_BUTTON,
                BS_PUSHBUTTON | WS_TABSTOP | WS_VISIBLE
        CONTROL "Cancel", IDD_CUSTINFO_BTN_CANCEL, 75, 8, 50, 13, WC_BUTTON,
                BS_PUSHBUTTON | BS_DEFAULT | WS_TABSTOP | WS_VISIBLE
        CONTROL "Help", IDD_CUSTINFO_BTN_HELP, 135, 8, 50, 13, WC_BUTTON,
                BS_PUSHBUTTON | BS_HELP | BS_NOPOINTERFOCUS | WS_TABSTOP |
                WS_VISIBLE
    END
END

DLGTEMPLATE IDD_CUSTLIST_DLG LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG "Result of customer inquiry", IDD_CUSTLIST_DLG, 10, 10, 300, 170,
           FS_NOBYTEALIGN | FS_DLGBORDER | FS_BORDER | WS_VISIBLE |
           WS_CLIPSIBLINGS | WS_SAVEBITS | WS_SYNCPAINT,
           FCF_SYSMENU | FCF_TITLEBAR | FCF_MINBUTTON | FCF_MAXBUTTON
    BEGIN
        CONTROL "", IDD_CUSTLIST_LST_LISTBOX, 5, 28, 290, 120, WC_LISTBOX,
                WS_TABSTOP | WS_VISIBLE
        CONTROL "Detail", IDD_CUSTLIST_BTN_DESC, 45, 7, 60, 13, WC_BUTTON,
                BS_PUSHBUTTON | WS_TABSTOP | WS_VISIBLE
        CONTROL "Cancel", IDD_CUSTLIST_BTN_CANCEL, 120, 7, 60, 13, WC_BUTTON,
                BS_PUSHBUTTON | WS_TABSTOP | WS_VISIBLE
        CONTROL "Help", IDD_CUSTLIST_BTN_HELP, 195, 7, 60, 13, WC_BUTTON,
                BS_PUSHBUTTON | BS_HELP | BS_NOPOINTERFOCUS | WS_TABSTOP |
                WS_VISIBLE
        CONTROL "Number", IDD_CUSTLIST_TXT_CUSTNUM, 5, 150, 40, 8,
                WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | WS_GROUP | WS_VISIBLE
        CONTROL "Name", IDD_CUSTLIST_TXT_CUSTNAME, 65, 150, 40, 8,
                WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | WS_GROUP | WS_VISIBLE
    END
END

DLGTEMPLATE IDD_CUSTREG_DLG LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG "Customer information", IDD_CUSTREG_DLG, 10, 10, 200, 180,
           FS_NOBYTEALIGN | FS_DLGBORDER | FS_BORDER | WS_VISIBLE |
           WS_CLIPSIBLINGS | WS_SAVEBITS,  FCF_SYSMENU | FCF_TITLEBAR |
           FCF_MINBUTTON | FCF_MAXBUTTON | FCF_DBE_APPSTAT
    BEGIN
        CONTROL "Number:", IDD_CUSTREG_TXT_CUSTNUM, 10, 165, 45, 8,
                WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | WS_GROUP |
                WS_VISIBLE
        CONTROL "Name:", IDD_CUSTREG_TXT_CUSTNAME,  10, 145, 45, 8,
                WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE
        CONTROL "Address:", IDD_CUSTREG_TXT_CUSTADDR, 10, 125, 45, 8,
                WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE
        CONTROL "TEL:", IDD_CUSTREG_TXT_CUSTPHON, 10, 50, 45, 8,
                WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE
        CONTROL "", IDD_CUSTREG_ITX_CUSTNUM, 60, 165, 40, 8,
                WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE
        CONTROL "", IDD_CUSTREG_SLE_CUSTNAME, 60, 145, 120, 8, WC_ENTRYFIELD,
                ES_MIXED | ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | WS_TABSTOP |
                WS_VISIBLE
        CONTROL "", IDD_CUSTREG_MLE_CUSTADDR, 60, 73, 135, 60, WC_MLE,
                MLS_BORDER | MLS_WORDWRAP | MLS_VSCROLL | MLS_IGNORETAB |
                WS_VISIBLE | WS_TABSTOP
        CONTROL "", IDD_CUSTREG_SLE_CUSTPHON, 60, 50, 120, 8, WC_ENTRYFIELD,
                ES_SBCS | ES_LEFT | ES_MARGIN | WS_TABSTOP | WS_VISIBLE
        CONTROL "Register", IDD_CUSTREG_BTN_REG, 15, 8, 50, 13, WC_BUTTON,
                BS_PUSHBUTTON | WS_TABSTOP | WS_VISIBLE
        CONTROL "Cancel", IDD_CUSTREG_BTN_CANCEL, 75, 8, 50, 13, WC_BUTTON,
                BS_PUSHBUTTON | BS_DEFAULT | WS_TABSTOP | WS_VISIBLE
        CONTROL "Help", IDD_CUSTREG_BTN_HELP, 135, 8, 50, 13, WC_BUTTON,
                BS_PUSHBUTTON | BS_HELP | BS_NOPOINTERFOCUS | WS_TABSTOP |
                WS_VISIBLE
    END
END

DLGTEMPLATE IDD_PRNT_DLG LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG "Print a report", IDD_PRNT_DLG, 50, 50, 200, 100, FS_NOBYTEALIGN |
                FS_DLGBORDER | WS_VISIBLE | WS_CLIPSIBLINGS | WS_SAVEBITS,
                FCF_TITLEBAR | FCF_SYSMENU
    BEGIN
        CONTROL "Enter dates for report:", IDD_PRNT_TXT_TTL,
                10, 80, 130, 8, WC_STATIC,
                SS_TEXT | DT_LEFT | DT_TOP | WS_GROUP | WS_VISIBLE
        CONTROL "From date:", IDD_PRNT_TXT_FRM, 10, 60, 60, 8, WC_STATIC,
                SS_TEXT | DT_LEFT | DT_TOP | WS_GROUP | WS_VISIBLE
        CONTROL "", IDD_PRNT_SLE_FRM, 80, 60, 50, 8, WC_ENTRYFIELD,
                ES_SBCS | ES_LEFT | ES_MARGIN | WS_TABSTOP | WS_VISIBLE
        CONTROL "To date:", IDD_PRNT_TXT_TO, 10, 40, 60, 8, WC_STATIC,
                SS_TEXT | DT_LEFT | DT_TOP | WS_GROUP | WS_VISIBLE
        CONTROL "", IDD_PRNT_SLE_TO, 80, 40, 50, 8, WC_ENTRYFIELD,
                ES_SBCS | ES_LEFT | ES_MARGIN | WS_TABSTOP | WS_VISIBLE
        CONTROL "Print", IDD_PRNT_BTN_ENT, 15, 8, 50, 13, WC_BUTTON,
                BS_PUSHBUTTON | BS_DEFAULT | WS_TABSTOP | WS_VISIBLE
        CONTROL "Cancel", IDD_PRNT_BTN_CAN, 75, 8, 50, 13, WC_BUTTON,
                BS_PUSHBUTTON | WS_TABSTOP | WS_VISIBLE
        CONTROL "Help", IDD_PRNT_BTN_HELP, 135, 8, 50, 13, WC_BUTTON,
                BS_PUSHBUTTON | BS_HELP | BS_NOPOINTERFOCUS | WS_TABSTOP |
                WS_VISIBLE
    END
END

STRINGTABLE PRELOAD MOVEABLE
BEGIN
        ID_CLR_CLNT,     "CLR_BLUE"
        ID_FRAM_TTL,     "ORDENT V2.1"
        IDS_HELP_TTL,    "Help of this program"
        IDS_HELP_ABT_TTL,"About this program"
        IDS_HELP_ABT_MSG,"A DBCS sample program (ORDENT V2.1)"
        IDD_MAIN_TTL_ON, "Order number"
        IDD_MAIN_TTL_CN, "Customer number"
        IDD_MAIN_TTL_PN, "Product No."
        IDD_MAIN_TTL_QT, "Quantity"
        IDD_MAIN_TTL_OD, "Entered date"
        IDD_MAIN_TTL_DD, "Shipping date"
        IDD_MAIN_TTL_NM, "Product name"
        IDD_MAIN_TTL_OQ, "Quantity"
        IDD_MAIN_TTL_OP, "Ammount"
        IDD_MAIN_TTL_TL, "Total"
        IDD_MAIN_TTL_RT, "Order list by products"
        IDD_MAIN_TTL_CD, "Creation date:"
        IDD_MAIN_TTL_TD, "Period:"
        IDD_ORDR_MSG_CN, "The customer number is unknown."
        IDD_ORDR_MSG_UD, "Updated the order entry file."
        IDD_ORDR_MSG_ER, "An error occured at updating the order entry file."
        IDD_ORDR_MSG_MQ, "Cannot allocate the quantity."
        IDD_ORDR_MSG_DT, "The shipping date is not valid."
        IDD_CUST_MSG_RG, "Appended a customer record."
        IDD_CUST_MSG_UD, "Updated a customer record."
        IDD_CUST_MSG_ER,
               "An error occured at appending or updating a customer record."
        IDD_RPRT_MSG_TD, "from %1 to %2"
END
