/***************************************************************************/
/* XPRMHELP.RC   XPG4 Primer for OS/2 WARP - V1.0       11/15/95           */
/*               Help table definitions.                                   */
/***************************************************************************/
#define INCL_WINSTDSPIN
#define INCL_WIN
#define INCL_NLS
#include <os2.h>                       /* System Include File              */
#include "xprmres.h"                   /* Application Include File         */
#include "xprmhelp.h"

HELPTABLE HID_MAIN
 BEGIN
    HELPITEM WID_MAIN           , HELP_SUB_MAIN       , HELP_MAIN
    HELPITEM DID_LOGIN          , HELP_SUB_LOGIN      , HELP_LOGIN
    HELPITEM DID_ORDERENTRY     , HELP_SUB_ORDERENTRY , HELP_ORDERENTRY
    HELPITEM DID_QRYORDR        , HELP_SUB_QRYORDR    , HELP_QRYORDR
    HELPITEM WID_VIEWORDER      , HELP_SUB_VIEWORDER  , HELP_VIEWORDER
    HELPITEM DID_CUSTINFO       , HELP_SUB_CUSTINFO   , HELP_CUSTINFO
    HELPITEM DID_QRYCUST        , HELP_SUB_QRYCUST    , HELP_QRYCUST
    HELPITEM DID_CUSTLIST       , HELP_SUB_CUSTLIST   , HELP_CUSTLIST
 END

HELPSUBTABLE  HELP_SUB_MAIN
 BEGIN
    HELPSUBITEM  MID_ORDER      , HELP_MID_ORDER
    HELPSUBITEM  MID_NEWORDER   , HELP_MID_NEWORDER
    HELPSUBITEM  MID_FIND       , HELP_MID_FIND
    HELPSUBITEM  MID_CUST       , HELP_MID_CUST
    HELPSUBITEM  MID_NEWCUST    , HELP_MID_NEWCUST
    HELPSUBITEM  MID_FINDCUST   , HELP_MID_FINDCUST
    HELPSUBITEM  MID_HELP       , HELP_HELP
    HELPSUBITEM  MID_HELPINDEX  , HELP_HELPINDEX
    HELPSUBITEM  MID_HELPKEYS   , HELP_HELPKEYS
    HELPSUBITEM  MID_HELPFORHELP, HELP_HELPFORHELP
 END

HELPSUBTABLE  HELP_SUB_LOGIN
 BEGIN
    HELPSUBITEM  LI_EF_EMPNUM, HELP_LI_EMPNUM
 END

HELPSUBTABLE  HELP_SUB_ORDERENTRY
 BEGIN
    HELPSUBITEM  OE_CB_CUSTNAME, HELP_OE_CUSTNAME
    HELPSUBITEM  OE_EF_QTY1,     HELP_OE_QTY
    HELPSUBITEM  OE_EF_QTY2,     HELP_OE_QTY
    HELPSUBITEM  OE_EF_QTY3,     HELP_OE_QTY
    HELPSUBITEM  OE_LI_PRODUCTS, HELP_LI_PRODUCTS
 END

HELPSUBTABLE  HELP_SUB_QRYORDR
 BEGIN
    HELPSUBITEM  QO_EF_KEY,      HELP_QO_KEY
    HELPSUBITEM  QO_PB_DATE,     HELP_QO_DATE
    HELPSUBITEM  QO_PB_NUMBER,   HELP_QO_NUMBER
 END

HELPSUBTABLE  HELP_SUB_VIEWORDER
 BEGIN
    HELPSUBITEM  MID_OPTION     , HELP_MID_OPTION
    HELPSUBITEM  MID_FONT       , HELP_MID_FONT
 END

HELPSUBTABLE  HELP_SUB_CUSTINFO
 BEGIN
    HELPSUBITEM  CI_EF_NAME,     HELP_CI_NAME
    HELPSUBITEM  CI_ML_CUSTADDR, HELP_CI_CUSTADDR
    HELPSUBITEM  CI_EF_CUSTTEL,  HELP_CI_CUSTTEL
 END

HELPSUBTABLE  HELP_SUB_QRYCUST
 BEGIN
    HELPSUBITEM  QC_EF_CUSTKEY,  HELP_QC_CUSTKEY
    HELPSUBITEM  QC_PB_CUSTNUM,  HELP_QC_CUSTNUM
    HELPSUBITEM  QC_PB_CUSTNAME, HELP_QC_CUSTNAME
    HELPSUBITEM  QC_PB_TELNUM,   HELP_QC_TELNUM
 END

HELPSUBTABLE  HELP_SUB_CUSTLIST
 BEGIN
    HELPSUBITEM  LI_CUSTLIST,    HELP_CUSTLIST
 END
