/************   OS/2 Application Primer Sample   **********************/
/*                                                                    */
/* Module Name : RSRCJPN.RC                                           */
/*                                                                    */
/*                                                                    */
/* A sample program for "OS/2 DBCS Application Primer".               */
/* Resources for Japanese titles, menus, dialog boxes, accelerator    */
/* keys and texts.                                                    */
/*                                                                    */
/**********************************************************************/
#define  INCL_NOCOMMON
#define  INCL_WIN
#define  INCL_NLS

#define  INCL_MAIN_WND
#define  INCL_LGON_DLG
#define  INCL_TEST_DLG
#define  INCL_ORDR_DLG
#define  INCL_CUSTQRY_DLG
#define  INCL_CUSTLIST_DLG
#define  INCL_CUSTINFO_DLG
#define  INCL_CUSTREG_DLG
#define  INCL_PRTR_DLG

#include <os2.h>
#include "ordent.h"

ICON ID_MAIN ordent.ico

BITMAP ID_MAIN_BMP bmapj.bmp

MENU ID_MAIN PRELOAD
BEGIN
    SUBMENU "ファイル(\036F\037ﾌ)", ID_FILE
    BEGIN
        MENUITEM "新規作成(\036N\037ﾆ)...\tCtrl+N", ID_FILE_NEW, MIS_TEXT
    END
    SUBMENU "顧客マスター(\036M\037ﾏ)", ID_CUST
    BEGIN
        MENUITEM "顧客照会(\036Q\037ｼ)...\tCtrl+Q", ID_CUST_QRY, MIS_TEXT
        MENUITEM "顧客登録(\036R\037ﾄ)...\tCtrl+R", ID_CUST_REG, MIS_TEXT
    END
    SUBMENU "報告書(\036R\037ﾎ)", ID_RPRT
    BEGIN
        MENUITEM "レポート印刷(\036P\037ｲ)...\tCtrl+P", ID_RPRT_PRT, MIS_TEXT
    END
    SUBMENU "ヘルプ(\036H\037ﾍ)", ID_HELP
    BEGIN
        MENUITEM "ヘルプのヘルプ(\036H\037ﾍ)...", ID_HELP_HLP, MIS_TEXT
        MENUITEM "全般ヘルプ(\036E\037ｾ)...", SC_HELPEXTENDED, MIS_SYSCOMMAND
        MENUITEM "ヘルプ索引(\036I\037ｻ)...", SC_HELPINDEX, MIS_SYSCOMMAND
        MENUITEM "キーのヘルプ(\036K\037ｷ)...", SC_HELPKEYS, MIS_SYSCOMMAND
        MENUITEM SEPARATOR
        MENUITEM "について(\036A\037ﾆ)...", ID_HELP_ABT, MIS_TEXT
    END
END

HELPTABLE     IDH_MAIN
BEGIN
    HELPITEM   ID_MAIN,          IDH_MAIN_SUBTABLE,         ID_EXTENDED_HELP
    HELPITEM   IDD_ORDR_DLG,     IDH_ORDR_DLG_SUBTABLE,     ID_EXTENDED_HELP
    HELPITEM   IDD_LGON_DLG,     IDH_LGON_DLG_SUBTABLE,     ID_EXTENDED_HELP
    HELPITEM   IDD_CUSTREG_DLG,  IDH_CUSTREG_DLG_SUBTABLE,  ID_EXTENDED_HELP
    HELPITEM   IDD_CUSTQRY_DLG,  IDH_CUSTQRY_DLG_SUBTABLE,  ID_EXTENDED_HELP
    HELPITEM   IDD_CUSTLIST_DLG, IDH_CUSTLIST_DLG_SUBTABLE, ID_EXTENDED_HELP
    HELPITEM   IDD_CUSTINFO_DLG, IDH_CUSTINFO_DLG_SUBTABLE, ID_EXTENDED_HELP
    HELPITEM   IDD_PRNT_DLG,     IDH_PRNT_DLG_SUBTABLE,     ID_EXTENDED_HELP
END

HELPSUBTABLE  IDH_MAIN_SUBTABLE
BEGIN
    HELPSUBITEM  ID_FILE,           ID_FILE
    HELPSUBITEM  ID_FILE_NEW,       ID_FILE_NEW
    HELPSUBITEM  ID_CUST,           ID_CUST
    HELPSUBITEM  ID_CUST_REG,       ID_CUST_REG
    HELPSUBITEM  ID_CUST_QRY,       ID_CUST_QRY
    HELPSUBITEM  ID_RPRT,           ID_RPRT
    HELPSUBITEM  ID_RPRT_PRT,       ID_RPRT_PRT
    HELPSUBITEM  ID_HELP,           ID_HELP
    HELPSUBITEM  ID_HELP_HLP,       ID_HELP_HLP
    HELPSUBITEM  SC_HELPEXTENDED,   ID_HELP_EXT
    HELPSUBITEM  SC_HELPINDEX,      SC_HELPINDEX
    HELPSUBITEM  SC_HELPKEYS,       ID_HELP_KEY
    HELPSUBITEM  ID_HELP_ABT,       ID_HELP_ABT
END

HELPSUBTABLE  IDH_LGON_DLG_SUBTABLE
BEGIN

    HELPSUBITEM  IDD_LGON_BTN_OK,   IDD_LGON_BTN_OK
    HELPSUBITEM  IDD_LGON_BTN_CN,   IDD_LGON_BTN_CN
    HELPSUBITEM  IDD_LGON_SLE,      IDD_LGON_SLE
END

HELPSUBTABLE  IDH_ORDR_DLG_SUBTABLE
BEGIN
    HELPSUBITEM  IDD_ORDR_DLG,      IDD_ORDR_DLG
    HELPSUBITEM  IDD_ORDR_LBX_CN,   IDD_ORDR_LBX_CN
    HELPSUBITEM  IDD_ORDR_ITX_CM,   IDD_ORDR_ITX_CM
    HELPSUBITEM  IDD_ORDR_ITX_PR1,  IDD_ORDR_ITX_PR1
    HELPSUBITEM  IDD_ORDR_ITX_PR2,  IDD_ORDR_ITX_PR2
    HELPSUBITEM  IDD_ORDR_ITX_PR3,  IDD_ORDR_ITX_PR3
    HELPSUBITEM  IDD_ORDR_SLE_QT1,  IDD_ORDR_SLE_QT1
    HELPSUBITEM  IDD_ORDR_SLE_QT2,  IDD_ORDR_SLE_QT2
    HELPSUBITEM  IDD_ORDR_SLE_QT3,  IDD_ORDR_SLE_QT3
    HELPSUBITEM  IDD_ORDR_LBX_PM,   IDD_ORDR_LBX_PM
    HELPSUBITEM  IDD_ORDR_BTN_CAN,  IDD_ORDR_BTN_CAN
    HELPSUBITEM  IDD_ORDR_BTN_CNF,  IDD_ORDR_BTN_CNF
    HELPSUBITEM  IDD_ORDR_BTN_ENT,  IDD_ORDR_BTN_ENT
    HELPSUBITEM  IDD_ORDR_BTN_HLP,  IDD_ORDR_BTN_HLP
END

HELPSUBTABLE  IDH_CUSTQRY_DLG_SUBTABLE
BEGIN
    HELPSUBITEM IDD_CUSTQRY_SLE_KEY,     IDD_CUSTQRY_SLE_KEY
    HELPSUBITEM IDD_CUSTQRY_BTN_QUERY,   IDD_CUSTQRY_BTN_QUERY
    HELPSUBITEM IDD_CUSTQRY_BTN_CANCEL,  IDD_CUSTQRY_BTN_CANCEL
    HELPSUBITEM IDD_CUSTQRY_BTN_HELP,    IDD_CUSTQRY_BTN_HELP
END

HELPSUBTABLE  IDH_CUSTLIST_DLG_SUBTABLE
BEGIN
    HELPSUBITEM IDD_CUSTLIST_LST_LISTBOX, IDD_CUSTLIST_LST_LISTBOX
    HELPSUBITEM IDD_CUSTLIST_BTN_DESC,    IDD_CUSTLIST_BTN_DESC
    HELPSUBITEM IDD_CUSTLIST_BTN_CANCEL,  IDD_CUSTLIST_BTN_CANCEL
    HELPSUBITEM IDD_CUSTLIST_BTN_HELP,    IDD_CUSTLIST_BTN_HELP
END

HELPSUBTABLE  IDH_CUSTREG_DLG_SUBTABLE
BEGIN
    HELPSUBITEM IDD_CUSTREG_SLE_CUSTNAME,IDD_CUSTREG_SLE_CUSTNAME
    HELPSUBITEM IDD_CUSTREG_MLE_CUSTADDR,IDD_CUSTREG_MLE_CUSTADDR
    HELPSUBITEM IDD_CUSTREG_SLE_CUSTPHON,IDD_CUSTREG_SLE_CUSTPHON
    HELPSUBITEM IDD_CUSTREG_BTN_REG,     IDD_CUSTREG_BTN_REG
    HELPSUBITEM IDD_CUSTREG_BTN_CANCEL,  IDD_CUSTREG_BTN_CANCEL
    HELPSUBITEM IDD_CUSTREG_BTN_HELP,    IDD_CUSTREG_BTN_HELP
END

HELPSUBTABLE  IDH_CUSTINFO_DLG_SUBTABLE
BEGIN
    HELPSUBITEM IDD_CUSTINFO_SLE_CUSTNAME,IDD_CUSTINFO_SLE_CUSTNAME
    HELPSUBITEM IDD_CUSTINFO_MLE_CUSTADDR,IDD_CUSTINFO_MLE_CUSTADDR
    HELPSUBITEM IDD_CUSTINFO_SLE_CUSTPHON,IDD_CUSTINFO_SLE_CUSTPHON
    HELPSUBITEM IDD_CUSTINFO_BTN_CHANGE,  IDD_CUSTINFO_BTN_CHANGE
    HELPSUBITEM IDD_CUSTINFO_BTN_CANCEL,  IDD_CUSTINFO_BTN_CANCEL
    HELPSUBITEM IDD_CUSTINFO_BTN_HELP,    IDD_CUSTINFO_BTN_HELP
END

HELPSUBTABLE  IDH_PRNT_DLG_SUBTABLE
BEGIN
    HELPSUBITEM  IDD_PRNT_BTN_ENT,  IDD_PRNT_BTN_ENT
    HELPSUBITEM  IDD_PRNT_BTN_CAN,  IDD_PRNT_BTN_CAN
    HELPSUBITEM  IDD_PRNT_BTN_HELP, IDD_PRNT_BTN_HELP
    HELPSUBITEM  IDD_PRNT_SLE_TO,   IDD_PRNT_SLE_TO
    HELPSUBITEM  IDD_PRNT_SLE_FRM,  IDD_PRNT_SLE_FRM
END

ACCELTABLE ID_MAIN
BEGIN
    "N",  ID_FILE_NEW, CONTROL
    "Q",  ID_CUST_QRY, CONTROL
    "R",  ID_CUST_REG, CONTROL
    "P",  ID_RPRT_PRT, CONTROL
END

DLGTEMPLATE IDD_LGON_DLG LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG "ログオン", IDD_LGON_DLG, 0, 0, 150, 100,
           FS_NOBYTEALIGN | FS_DLGBORDER | WS_CLIPSIBLINGS | WS_SAVEBITS,
           FCF_TITLEBAR | FCF_DBE_APPSTAT
    BEGIN
        CONTROL "社員番号を入力して下さい：", IDD_LGON_TXT_MSG, 30, 80, 100, 10,
                WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | WS_GROUP | WS_VISIBLE
        CONTROL "社員番号：", IDD_LGON_TXT_ENO, 10, 45, 50, 10, WC_STATIC,
                SS_TEXT | DT_LEFT | DT_TOP | WS_GROUP | WS_VISIBLE
        CONTROL "", IDD_LGON_SLE, 60, 45, 60, 10, WC_ENTRYFIELD,
                ES_SBCS | ES_LEFT | ES_MARGIN | WS_TABSTOP | WS_VISIBLE
        CONTROL "開始", IDD_LGON_BTN_OK, 50, 10, 40, 15, WC_BUTTON,
                BS_PUSHBUTTON | WS_TABSTOP | WS_VISIBLE | BS_DEFAULT
        CONTROL "取消", IDD_LGON_BTN_CN, 100, 10, 40, 15, WC_BUTTON,
                BS_PUSHBUTTON | WS_TABSTOP | WS_VISIBLE
    END
END

DLGTEMPLATE IDD_ORDR_DLG LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG "受注入力", IDD_ORDR_DLG, 20, 20, 300, 200, FS_NOBYTEALIGN |
                FS_DLGBORDER | WS_VISIBLE | WS_CLIPSIBLINGS | WS_SAVEBITS,
                FCF_TITLEBAR | FCF_SCREENALIGN | FCF_SYSMENU | FCF_DBE_APPSTAT
    BEGIN
        CONTROL "社員番号：", IDD_ORDR_TXT_EN, 10, 185, 40, 8,
                WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | WS_GROUP | WS_VISIBLE
        CONTROL "", IDD_ORDR_ITX_EN, 60, 185, 50, 8,
                WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | WS_GROUP | WS_VISIBLE
        CONTROL "作成日：", IDD_ORDR_TXT_CR, 150, 185, 40, 8,
                WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | WS_GROUP | WS_VISIBLE
        CONTROL "", IDD_ORDR_ITX_CR, 200, 185, 60, 8,
                WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | WS_GROUP | WS_VISIBLE
        CONTROL "顧客番号：", IDD_ORDR_TXT_CN, 10, 170, 40, 8,
                WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | WS_GROUP | WS_VISIBLE
        CONTROL "", IDD_ORDR_LBX_CN, 60, 138, 50, 40, WC_COMBOBOX,
                CBS_DROPDOWNLIST | WS_TABSTOP | WS_VISIBLE
        CONTROL "顧客名：", IDD_ORDR_TXT_CM, 150, 170, 50, 8,
                WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | WS_GROUP | WS_VISIBLE
        CONTROL "", IDD_ORDR_ITX_CM, 200, 170, 95, 8, WC_ENTRYFIELD,
                ES_LEFT | ES_READONLY | ES_AUTOSCROLL | WS_VISIBLE | WS_GROUP
        CONTROL "受注番号：", IDD_ORDR_TXT_ON, 10, 155, 40, 8,
                WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | WS_GROUP | WS_VISIBLE
        CONTROL "", IDD_ORDR_ITX_ON, 60, 155, 40, 8,
                WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | WS_GROUP | WS_VISIBLE
        CONTROL "合計金額：", IDD_ORDR_TXT_AM, 150, 155, 50, 8,
                WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | WS_GROUP | WS_VISIBLE
        CONTROL "", IDD_ORDR_ITX_VL, 200, 155, 95, 8,
                WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | WS_GROUP | WS_VISIBLE
        CONTROL "受注商品：", IDD_ORDR_TXT_PN, 10, 140, 40, 8,
                WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | WS_GROUP | WS_VISIBLE
        CONTROL "", IDD_ORDR_ITX_PR1, 60, 140, 130, 8, WC_ENTRYFIELD,
                ES_LEFT | ES_READONLY | ES_AUTOSCROLL | WS_GROUP | WS_VISIBLE
        CONTROL "", IDD_ORDR_ITX_PR2, 60, 125, 130, 8, WC_ENTRYFIELD,
                ES_LEFT | ES_READONLY | ES_AUTOSCROLL | WS_GROUP | WS_VISIBLE
        CONTROL "", IDD_ORDR_ITX_PR3, 60, 110, 130, 8, WC_ENTRYFIELD,
                ES_LEFT | ES_READONLY | ES_AUTOSCROLL | WS_GROUP | WS_VISIBLE
        CONTROL "受注数量：", IDD_ORDR_TXT_VL, 200, 140, 40, 8,
                WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | WS_GROUP | WS_VISIBLE
        CONTROL "", IDD_ORDR_SLE_QT1, 250, 140, 40, 8, WC_ENTRYFIELD,
                ES_SBCS | ES_LEFT | ES_MARGIN | WS_TABSTOP | WS_VISIBLE
        CONTROL "", IDD_ORDR_SLE_QT2, 250, 125, 40, 8, WC_ENTRYFIELD,
                ES_SBCS | ES_LEFT | ES_MARGIN | WS_TABSTOP | WS_VISIBLE
        CONTROL "", IDD_ORDR_SLE_QT3, 250, 110, 40, 8, WC_ENTRYFIELD,
                ES_SBCS | ES_LEFT | ES_MARGIN | WS_TABSTOP | WS_VISIBLE
        CONTROL "商品リスト：", IDD_ORDR_TXT_LB, 10, 90, 50, 8,
                WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | WS_GROUP | WS_VISIBLE
        CONTROL "", IDD_ORDR_LBX_PM, 70, 30, 200, 78, WC_LISTBOX,
                LS_HORZSCROLL | LS_MULTIPLESEL | WS_TABSTOP | WS_VISIBLE
        CONTROL "実行", IDD_ORDR_BTN_ENT, 20, 8, 50, 13, WC_BUTTON,
                BS_PUSHBUTTON | WS_TABSTOP | WS_VISIBLE
        CONTROL "確認", IDD_ORDR_BTN_CNF, 90, 8, 50, 13, WC_BUTTON,
                BS_PUSHBUTTON | WS_TABSTOP | WS_VISIBLE
        CONTROL "取消", IDD_ORDR_BTN_CAN, 160, 8, 50, 13, WC_BUTTON,
                BS_PUSHBUTTON | WS_TABSTOP | WS_VISIBLE
        CONTROL "ヘルプ", IDD_ORDR_BTN_HLP, 230, 8, 50, 13, WC_BUTTON,
                BS_PUSHBUTTON | BS_HELP | WS_TABSTOP | WS_VISIBLE |
                BS_NOPOINTERFOCUS
    END
END

DLGTEMPLATE IDD_CUSTQRY_DLG LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG "顧客照会", IDD_CUSTQRY_DLG, 40, 80, 180, 64,
                FS_NOBYTEALIGN | FS_DLGBORDER | FS_BORDER | WS_VISIBLE |
                WS_CLIPSIBLINGS | WS_SAVEBITS | WS_SYNCPAINT,
                FCF_SYSMENU | FCF_TITLEBAR | FCF_DBE_APPSTAT
    BEGIN
        CONTROL "", IDD_CUSTQRY_SLE_KEY, 29, 28, 119, 8, WC_ENTRYFIELD,
                ES_ANY | ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | WS_TABSTOP |
                WS_VISIBLE
        CONTROL "キーワードを入力して下さい。", IDD_CUSTQRY_TXT_KEY,
                29, 46, 113, 8, WC_STATIC,
                SS_TEXT | DT_LEFT | DT_TOP | WS_GROUP | WS_VISIBLE
        CONTROL "検索", IDD_CUSTQRY_BTN_QUERY,  20, 5, 34, 13, WC_BUTTON,
                BS_PUSHBUTTON | BS_DEFAULT | WS_TABSTOP | WS_VISIBLE
        CONTROL "取消", IDD_CUSTQRY_BTN_CANCEL, 73, 6, 34, 13, WC_BUTTON,
                BS_PUSHBUTTON | WS_TABSTOP | WS_VISIBLE
        CONTROL "ヘルプ", IDD_CUSTQRY_BTN_HELP, 126, 6, 34, 13, WC_BUTTON,
                BS_PUSHBUTTON | BS_HELP | WS_TABSTOP | WS_VISIBLE |
                BS_NOPOINTERFOCUS
    END
END

DLGTEMPLATE IDD_CUSTINFO_DLG LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG "顧客情報", IDD_CUSTINFO_DLG, 10, 10, 200, 180, FS_NOBYTEALIGN |
                FS_DLGBORDER | FS_BORDER | WS_VISIBLE | WS_CLIPSIBLINGS |
                WS_SAVEBITS, FCF_SYSMENU | FCF_TITLEBAR | FCF_MINBUTTON |
                FCF_MAXBUTTON | FCF_DBE_APPSTAT
    BEGIN
        CONTROL "顧客番号：", IDD_CUSTINFO_TXT_CUSTNUM, 10, 165, 40, 8,
                WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | WS_GROUP | WS_VISIBLE
        CONTROL "顧客名：", IDD_CUSTINFO_TXT_CUSTNAME, 10, 145, 40, 8,
                WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE
        CONTROL "住所：", IDD_CUSTINFO_TXT_CUSTADDR, 10, 125, 40, 8, WC_STATIC,
                SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE
        CONTROL "電話番号：", IDD_CUSTINFO_TXT_CUSTPHON, 10, 50, 40, 8,
                WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE
        CONTROL "", IDD_CUSTINFO_ITX_CUSTNUM, 60, 165, 40, 8, WC_STATIC,
                SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE
        CONTROL "", IDD_CUSTINFO_SLE_CUSTNAME, 60, 145, 120, 8, WC_ENTRYFIELD,
                ES_MIXED | ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | WS_TABSTOP |
                WS_VISIBLE
        CONTROL "", IDD_CUSTINFO_MLE_CUSTADDR, 60, 73, 135, 60, WC_MLE,
                MLS_BORDER | MLS_WORDWRAP | MLS_VSCROLL | WS_GROUP |
                WS_TABSTOP | WS_VISIBLE
        CONTROL "", IDD_CUSTINFO_SLE_CUSTPHON, 60, 50, 120, 8, WC_ENTRYFIELD,
                ES_SBCS | ES_LEFT | ES_MARGIN | WS_TABSTOP | WS_VISIBLE
        CONTROL "変更", IDD_CUSTINFO_BTN_CHANGE, 15, 8, 50, 13, WC_BUTTON,
                BS_PUSHBUTTON | WS_TABSTOP | WS_VISIBLE
        CONTROL "取消", IDD_CUSTINFO_BTN_CANCEL, 75, 8, 50, 13, WC_BUTTON,
                BS_PUSHBUTTON | BS_DEFAULT | WS_TABSTOP | WS_VISIBLE
        CONTROL "ヘルプ", IDD_CUSTINFO_BTN_HELP, 135, 8, 50, 13, WC_BUTTON,
                BS_PUSHBUTTON | BS_HELP | BS_NOPOINTERFOCUS | WS_TABSTOP |
                WS_VISIBLE
    END
END

DLGTEMPLATE IDD_CUSTLIST_DLG LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG "顧客照会の結果", IDD_CUSTLIST_DLG, 10, 10, 300, 170,
                FS_NOBYTEALIGN | FS_DLGBORDER | FS_BORDER | WS_VISIBLE |
                WS_CLIPSIBLINGS | WS_SAVEBITS | WS_SYNCPAINT,
                FCF_SYSMENU | FCF_TITLEBAR | FCF_MINBUTTON | FCF_MAXBUTTON
    BEGIN
        CONTROL "", IDD_CUSTLIST_LST_LISTBOX, 5, 28, 290, 120, WC_LISTBOX,
                WS_TABSTOP | WS_VISIBLE
        CONTROL "詳細", IDD_CUSTLIST_BTN_DESC, 45, 7, 60, 13, WC_BUTTON,
                BS_PUSHBUTTON | WS_TABSTOP | WS_VISIBLE
        CONTROL "取消", IDD_CUSTLIST_BTN_CANCEL, 120, 7, 60, 13, WC_BUTTON,
                BS_PUSHBUTTON | WS_TABSTOP | WS_VISIBLE
        CONTROL "ヘルプ", IDD_CUSTLIST_BTN_HELP, 195, 7, 60, 13, WC_BUTTON,
                BS_PUSHBUTTON | BS_HELP | BS_NOPOINTERFOCUS | WS_TABSTOP |
                WS_VISIBLE
        CONTROL "顧客番号", IDD_CUSTLIST_TXT_CUSTNUM, 5, 153, 33, 8, WC_STATIC,
                SS_TEXT | DT_LEFT | DT_TOP | WS_GROUP | WS_VISIBLE
        CONTROL "顧客名", IDD_CUSTLIST_TXT_CUSTNAME, 65, 153, 33, 8, WC_STATIC,
                SS_TEXT | DT_LEFT | DT_TOP | WS_GROUP | WS_VISIBLE
    END
END

DLGTEMPLATE IDD_CUSTREG_DLG LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG "顧客登録", IDD_CUSTREG_DLG, 10, 10, 200, 180, FS_NOBYTEALIGN |
           FS_DLGBORDER | FS_BORDER | WS_VISIBLE | WS_CLIPSIBLINGS |
           WS_SAVEBITS, FCF_SYSMENU | FCF_TITLEBAR | FCF_MINBUTTON |
           FCF_MAXBUTTON | FCF_DBE_APPSTAT
    BEGIN
        CONTROL "顧客番号：", IDD_CUSTREG_TXT_CUSTNUM, 10, 165, 40, 8,
                WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | WS_GROUP | WS_VISIBLE
        CONTROL "顧客名：", IDD_CUSTREG_TXT_CUSTNAME, 10, 145, 40, 8,
                WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE
        CONTROL "住所：", IDD_CUSTREG_TXT_CUSTADDR, 10, 125, 40, 8, WC_STATIC,
                SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE
        CONTROL "電話番号：", IDD_CUSTREG_TXT_CUSTPHON, 10, 50, 40, 8,
                WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE
        CONTROL "", IDD_CUSTREG_ITX_CUSTNUM, 60, 165, 40, 8, WC_STATIC,
                SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE
        CONTROL "", IDD_CUSTREG_SLE_CUSTNAME, 60, 145, 120, 8, WC_ENTRYFIELD,
                ES_MIXED | ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | WS_TABSTOP |
                WS_VISIBLE
        CONTROL "", IDD_CUSTREG_MLE_CUSTADDR, 60, 73, 135, 60, WC_MLE,
                MLS_BORDER | MLS_WORDWRAP | MLS_VSCROLL | MLS_IGNORETAB |
                WS_VISIBLE | WS_TABSTOP
        CONTROL "", IDD_CUSTREG_SLE_CUSTPHON, 62, 50, 120, 8, WC_ENTRYFIELD,
                ES_SBCS | ES_LEFT | ES_MARGIN | WS_TABSTOP | WS_VISIBLE
        CONTROL "登録", IDD_CUSTREG_BTN_REG, 15, 8, 50, 13, WC_BUTTON,
                BS_PUSHBUTTON | WS_TABSTOP | WS_VISIBLE
        CONTROL "取消", IDD_CUSTREG_BTN_CANCEL, 75, 8, 50, 13, WC_BUTTON,
                BS_PUSHBUTTON | BS_DEFAULT | WS_TABSTOP | WS_VISIBLE
        CONTROL "ヘルプ", IDD_CUSTREG_BTN_HELP, 135, 8, 50, 13, WC_BUTTON,
                BS_PUSHBUTTON | BS_HELP | BS_NOPOINTERFOCUS | WS_TABSTOP |
                WS_VISIBLE
    END
END

DLGTEMPLATE IDD_PRNT_DLG LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG "報告書作成", IDD_PRNT_DLG, 50, 50, 150, 100, FS_NOBYTEALIGN |
                FS_DLGBORDER | WS_VISIBLE | WS_CLIPSIBLINGS | WS_SAVEBITS,
                FCF_TITLEBAR | FCF_SYSMENU
    BEGIN
        CONTROL "報告書対象日を指定して下さい。", IDD_PRNT_TXT_TTL,
                10, 80, 130, 8, WC_STATIC,
                SS_TEXT | DT_LEFT | DT_TOP | WS_GROUP | WS_VISIBLE
        CONTROL "対象日（から）", IDD_PRNT_TXT_FRM, 10, 60, 60, 8, WC_STATIC,
                SS_TEXT | DT_LEFT | DT_TOP | WS_GROUP | WS_VISIBLE
        CONTROL "", IDD_PRNT_SLE_FRM, 80, 60, 50, 10, WC_ENTRYFIELD,
                ES_SBCS | ES_LEFT | ES_MARGIN | WS_TABSTOP | WS_VISIBLE
        CONTROL "対象日（まで）", IDD_PRNT_TXT_TO, 10, 40, 60, 8, WC_STATIC,
                SS_TEXT | DT_LEFT | DT_TOP | WS_GROUP | WS_VISIBLE
        CONTROL "", IDD_PRNT_SLE_TO, 80, 40, 50, 10, WC_ENTRYFIELD,
                ES_SBCS | ES_LEFT | ES_MARGIN | WS_TABSTOP | WS_VISIBLE
        CONTROL "実行", IDD_PRNT_BTN_ENT, 5, 8, 40, 13, WC_BUTTON,
                BS_PUSHBUTTON | BS_DEFAULT | WS_TABSTOP | WS_VISIBLE
        CONTROL "取消", IDD_PRNT_BTN_CAN, 55, 8, 40, 13, WC_BUTTON,
                BS_PUSHBUTTON | WS_TABSTOP | WS_VISIBLE
        CONTROL "ヘルプ", IDD_PRNT_BTN_HELP, 105, 8, 40, 13, WC_BUTTON,
                BS_PUSHBUTTON | BS_HELP | BS_NOPOINTERFOCUS | WS_TABSTOP |
                WS_VISIBLE
    END
END

STRINGTABLE PRELOAD MOVEABLE
BEGIN
        ID_CLR_CLNT,     "CLR_DARKRED"
        ID_FRAM_TTL,     "ＤＢＣＳサンプル・プログラム"
        IDS_HELP_TTL,    "ＤＢＣＳサンプル・プログラムのヘルプ"
        IDS_HELP_ABT_TTL,"ＤＢＣＳサンプル・プログラムについて"
        IDS_HELP_ABT_MSG,"ＤＢＣＳサンプル・プログラム V1.00"
        IDD_MAIN_TTL_ON, "受注番号"
        IDD_MAIN_TTL_CN, "顧客番号"
        IDD_MAIN_TTL_PN, "商品番号"
        IDD_MAIN_TTL_QT, "数量"
        IDD_MAIN_TTL_OD, "受注日"
        IDD_MAIN_TTL_DD, "納期"
        IDD_MAIN_TTL_NM, "商品名"
        IDD_MAIN_TTL_OQ, "受注数量"
        IDD_MAIN_TTL_OP, "受注金額"
        IDD_MAIN_TTL_TL, "計"
        IDD_MAIN_TTL_RT, "商品別受注一覧表"
        IDD_MAIN_TTL_CD, "作成日:"
        IDD_MAIN_TTL_TD, "対象日:"
        IDD_ORDR_MSG_CN, "顧客番号が見つかりません。"
        IDD_ORDR_MSG_UD, "受注ファイルが更新されました。"
        IDD_ORDR_MSG_ER, "受注ファイル更新時にエラーが起きました。"
        IDD_ORDR_MSG_MQ, "注文数の製品が割り当てられません。"
        IDD_ORDR_MSG_DT, "納入日が正しくありません。"
        IDD_CUST_MSG_RG, "顧客レコードが追加されました。"
        IDD_CUST_MSG_UD, "顧客レコードが更新されました。"
        IDD_CUST_MSG_ER, "顧客レコード更新時にエラーが起きました。"
        IDD_RPRT_MSG_TD, "%1 から %2 まで"
END
